/* Reset CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
/* Estilos Generales */
*{
    font-family: Roboto, "Helvetica";
}
body{
    padding-top: 85px;
}


/* Estilos Header */

.header-container{
    margin: 0px;
    width: 100%;
    background-color: #111111;
    top: 0;
    left: 0;
    position: fixed;
}
.header-wrap{
    width: 1140px;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container{
    width: 378px;
}
.navbar-collapse{
    display: none;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #5d5d5d;
    font-family: Roboto, "Helvetica";
    font-size: 15px;
    font-weight: 400;
}
.activate{
    color: #b27b10;
}

/* Estilos del Main */

.home-container{
    width: 100%;
}

.main-container{
    background-image: url("./img/bg.jpg");
    background-size: 60%;
    background-position: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-container{
    width: 1042px;
    margin: auto;
    padding-top: 6em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}

.about-h1{
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.5em;
}

.articles-container{
    display: flex;
    justify-content: space-between;
}

.article-h2{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
}
.article-h2 i{
    margin-right: .5em;
}
.article-p{
    font-size: 0.9em;
    font-weight: 300;
    width: 510px;
    line-height: 1.8em;
    margin-bottom: 2em;
    color: #656565;
}
.about-h2{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #999999;
}
.bubbles-container{
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.bubble{
    width: 150px;
    height: 150px;
    border: 1px solid #999999;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999999;
}

.bubble i{
    font-size: 45px;
}
.bubble p{
    font-size: 1em;
    font-weight: 100;
}
.works-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3em;
}
.work-image{
    display: block;
    width: 100%;
}
.partners-container{
    width: 1170px;
    margin: auto;
    padding-top: 6em;
    padding-bottom: 6em;
}
.partners-principal{
    display: flex;
    flex-direction: row;
}
.partners-h2{
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1.5em;
}

.partners-grid{
    width: 50%;
}

.partner-image{
    display: block;
    float: left;
    margin: 0 75px 30px 0;
}
.partner-carousel{
    width: 50%;
}
.card{
    display: flex;
    flex-direction: row;
}
.card-photo{
    width: 67.5px;
    height: 67.5px;
    border-radius: 50%;
}
.card-info{
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
}
.info-p{
    font-size: 1em;
    font-weight: 100;
    line-height: 1.7em;
    margin-bottom: 1.7em;
}
.partners-h2-team{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 2em 0 1em 0;
}
.partners-p{
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1em;
}
.partners-photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.partner-photo{
    display: block;
    width: 294px;
    height: auto;
    border: 1em solid white;
}
.stats-container{
    height: 293px;
    background-image: url("./img/lab.jpg");
    background-size: 100%;
    background-position: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.filtro-naranja{
    height: 293px;
    background-color: rgba(232,159,16,0.7);
}
.stats-bubbles{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.stat-bubble{
    color: white;
    border-radius: 0%;
    border: 0;
}
.stat-bubble i{
    font-size: 4.5em;
    padding-bottom: 10px;
}
.stat-bubble h4{
    font-weight: 1;
}

.footer-container{
    background-color: #111111;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-links{
    text-align: center;
}
.social-links a{
    color: #aaaaaa;
    padding: 0em 1em 0em 1em;
}
.footer-p{
    font-size: .8em;
    color: #aaaaaa;
    text-align: center;
    padding-top: 1.5em;
}
.contact-container{
    width: 585px;
    margin: auto;
    padding-top: 6em;
    padding-bottom: 6em;
}
.contact-h2{
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1.5em;
}
.formulario-contacto{
    display: flex;
    flex-direction: column;
}
.input-texto, .input-area{
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    color: rgb(143, 141, 141);
}
.button-contact{
    padding: 1em;
    border: 0;
    color: white;
    background-color: #e89f10;
}


@media (max-width: 1200px) {
    .header-wrap{
        width: 940px;
    }
    .about-container{
        width: 970px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 4em;
    }
    .articles-container{
        display: flex;
        justify-content: center;
    }
    .article-p{
        width: 448px;
        padding: 0 2em 0 0;
    }
    .partners-container{
        width: 970px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .partner-image{
        margin: 0 25px 25px 0;
    }
    .formulario-contacto{
        width: 485px;
        margin: auto;
    }
}
@media (max-width: 990px) {
    .header-wrap{
        width: 720px;
    }
    .about-container{
        width: 720px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 4em;
    }
    .articles-container{
        display: flex;
        justify-content: center;
    }
    .article-p{
        width: 308px;
        padding: 0 2em 0 0;
    }
    .partners-container{
        width: 720px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .bubbles-container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .partner-image{
        width: 40%;
        height: auto;
    }
    .formulario-contacto{
        width: 375px;
        margin: auto;
    }
}
@media (max-width: 778px){
    .header-wrap{
        width: 940px;
    }
    .about-container{
        width: 970px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 4em;
    }
    .articles-container{
        display: flex;
        justify-content: center;
    }
    .article-p{
        width: 448px;
        padding: 0 2em 0 0;
    }
    .partners-container{
        width: 970px;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .partner-image{
        margin: 0 25px 25px 0;
    }
    .formulario-contacto{
        width: 485px;
        margin: auto;
    }
}
@media (max-width: 768px) {
    body{
        padding-top: 54px;
    }
    .header-wrap{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
    .about-container{
        width: 100%;
        margin: auto;
        font-size: .8em;
        padding-top: 2em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
    }
    .articles-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    .article-p{
        width: 100%;
    }
    .partners-container{
        width: 100%;
        margin: auto;
        font-size: .8em;
        padding-top: 6em;
        padding-bottom: 6em;
    }
    .bubbles-container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .partner-image{
        width: 40%;
        height: auto;
    }
    .formulario-contacto{
        width: 80%;
        margin: auto;
    }
    .nav-container{
        width: 100%;
        height: 1px;
        background-color: #111111;
        border-top: 1px solid #292929;
        overflow: hidden;
        transition: height 0.3s cubic-bezier(.22,.61,.36,1);    
    }
    .logo-container{
        width: 100%;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        height: 37px;
        margin: .5em;
    }
    .navbar-collapse{
        display: block;
        width: 44px;
        height: 34px;
        margin: .8em;
        background: transparent;
        border-radius: 15%;
        border: 1px solid #292929;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 22px;
        height: 2px;
        background-color: white;
        margin-bottom: 4px;
    }
    .line:last-child{
        margin: 0;
    }
    .nav-ul{
        flex-direction: column;
        padding-left: 1em;
    }
    .nav-ul li{
        margin-top: 1em;
    }
    .nav-ul li:last-child{
        margin-bottom: 1em;
    }
    .nav-link{
        font-size: .8em;
    }
    .main-container{
        background-image: none;
    }
    .about-h1{
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 1em;
    }
    .about-h2{
        font-size: 1.5em;
        font-weight: 400;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .bubble{
        width: 108px;
        height: 108px;
    }
    .works-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 3em;
    }
    .partners-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partners-grid{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .partner-image{
        float: none;
        margin-right: 0;
        width: auto;
        max-width: 50%;
    }
    .partner-carousel{
        width: 80%;
        margin-top: 3em;
    }
    .partners-h2{
        font-size: 2em;
        font-weight: 400;
    }
    .partners-container{
        padding-top: 2em;
        padding-bottom: 0;
    }
    .partners-photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .partner-photo{
        width: 100%;
        border: 0;
    }
    .stats-container{
        height: 293px;
        background-image: url("./img/lab.jpg");
        background-size: 300%;
        background-position: -700px 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .contact-container{
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .contact-h2{
        font-size: 1em;
        font-weight: 400;
    }
    .formulario-contacto{
        width: 95%;
    }
}